body{
    background-color: #5891AA;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#icon{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#icon img{
    border: 3px solid white;
    border-radius: 100%;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#icon img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#header{
    background-color: #4b7e93;
    position: fixed;
    display: block;
    width: 100%;
    height: 2.5em;
}

#header button, #header h2{
    display: inline;
}

#header h2{
    float: right;
    margin: 5px 10px 0px 0px;
    color: white;
}

#header button {
    margin: 5px 0px 0px 5px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: #4b7e93;
    color: white;
    height: 2em;
    font-weight: bold;
    cursor: pointer;
}

#header button:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
}

#slider{
    width:100%;
    text-align: center;
    margin-top: 3em;
}

#slider form label{
    position:relative;
    top: -6px;
    font-weight: bold;
    color: white;
    margin: 0 10px 0 10px;
}

#main{
    width: 100%;
    text-align: center;
}

canvas{
    border: 3px solid white;
    border-radius: 5px;
}